<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<!-- To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />

		<!-- `key` can be any identifier for your source. -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>


	<!-- Map package ID prefixes and exact package IDs to specific sources target sources, so you
  always know where your packages come from -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>